<div style="text-align:center">
    <h1>
        Welcome {{ currentUser.name }} to {{title}}!!
    </h1>
</div>

<div class="row">
    <ul class="list-group">
        <a routerLink="/login" routerLinkActive="active" class="list-group-item">Login Page</a>
        <a routerLink="/userlist" routerLinkActive="active" class="list-group-item">User List (Requires Login)</a>
        <a routerLink="/userform" routerLinkActive="active" class="list-group-item">User Form</a>
        <a routerLink="/simplefields" routerLinkActive="active" class="list-group-item">Form Simple Fields example</a>
        <a routerLink="/subscriptionList" routerLinkActive="active" class="list-group-item">Subscription List</a>
    </ul>
</div>