<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>language</mat-icon>
  </button>
<mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item (click)="changeLang('pt')">
      <mat-icon svgIcon="flag-pt" class="menu-picker-item"></mat-icon>
      <span>{{ 'PORTUGUESE' | translate }}</span>
    </button>
    <button mat-menu-item (click)="changeLang('en')">
      <mat-icon svgIcon="flag-en" class="menu-picker-item"></mat-icon>
      <span>{{ 'ENGLISH' | translate }}</span>
    </button>
    <button mat-menu-item disabled (click)="changeLang('fr')">
        <mat-icon svgIcon="flag-fr" class="menu-picker-item"></mat-icon>
      <span>{{ 'FRENCH' | translate }}</span>
    </button>
</mat-menu>