@import "../../../../node_modules/@angular/material/theming";
@import '../../../themes/_variables';
re-container {
    color: #F00;
    font-weight: 400;
    padding: 20px $content-padding-side 50px;
    @media ($mat-xsmall) {
        padding-left: $content-padding-side-xs;
        padding-right: $content-padding-side-xs;
    }
}

.docs-component-viewer {
    margin: 0 auto;
    max-width: 940px;
}