<div style="text-align:center">
    <h1>
        Welcome to {{title}}!!
    </h1>
</div>

<h4 *ngIf="auth.isAuthenticated()">
    You are logged in! <a (click)="auth.logout()">Logout</a>
</h4>
<h4 *ngIf="!auth.isAuthenticated()">
    You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
</h4>

<h2>Here are some links to help you start: </h2>
<ul>
    <li>
        <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
    </li>
    <li>
        <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
    </li>
    <li>
        <h2><a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a></h2>
    </li>
    <li>
        <h2><a target="_blank" href="http://auth0.com/">Auth0</a></h2>
    </li>
    <li>
        <h2><a target="_blank" href="https://auth0.com/docs/quickstart/spa/angular2">ÂngularJs + Auth0 Samples</a></h2>
    </li>
    <li>
        <h2><a target="_blank" href="https://auth0.com/docs/tutorials/using-auth0-with-multi-tenant-apps">Auth0 Multi-Tenant Samples</a></h2>
    </li>

</ul>