<!--The content below is only a placeholder and can be replaced.-->
<h1>
  Exemplo tradução
</h1>

<div>
  <a href="javascript:void(0)" (click)="changeLang('en')">{{ 'English' | translate }}</a>
  <a href="javascript:void(0)" (click)="changeLang('pt')">{{ 'Portuguese' | translate }}</a>
  <a href="javascript:void(0)" (click)="changeLang('es')">{{ 'Spanish' | translate }}</a>
  <a href="javascript:void(0)" (click)="changeLang('fr')">{{ 'French' | translate }}</a>
</div>

<p>{{ 'Language' | translate }}</p>
<ul>
  <li>{{ 'English' | translate }}</li>
  <li>{{ 'Portuguese' | translate }}</li>
  <li>{{ 'Spanish' | translate }}</li>
  <li>{{ 'French' | translate }}</li>
</ul>


