@import 'variables.scss';

/* Style the list */

breadcrumb {
    width: 100%;
}

.breadcrumb-container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: left;
    white-space: nowrap;
    padding: 5px;
}

ul.breadcrumb {
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}


/* Display list items side by side */

ul.breadcrumb li {
    display: inline;
}


/* Add a slash symbol (/) before/behind each list item */

ul.breadcrumb li+li:before {
    padding: 4px;
    color: #ccc;
    content: "/\00a0";
}


/* Add a color to all links inside the list */

ul.breadcrumb li a {
    color: mat-color($primary, 400);
    text-decoration: none;
}

ul.breadcrumb li.active a {
    color: #ccc;
}