@import 'variables.scss';

/* Style the list */

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    text-transform: uppercase;
}


/* Display list items side by side */

ul.breadcrumb li {
    display: inline;
    font-size: 14px;
    font-weight: 100;
}


/* Add a slash symbol (/) before/behind each list item */

ul.breadcrumb li+li:before {
    padding: 4px;
    color: #ccc;
    content: "/\00a0";
}


/* Add a color to all links inside the list */

ul.breadcrumb li a {
    color: mat-color($primary, 400);
    text-decoration: none;
}

ul.breadcrumb li.active a {
    color: #ccc;
}