.docs-component-viewer {
    height: 100%;
    padding-left: $paddingContainer;
    padding-right: $paddingContainer;
    margin: $paddingContainer;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.docs-component-viewer::-webkit-scrollbar {
    display: none;
}

.home-container {
    display: flex;
    flex-flow: column nowrap;
    .mat-card {
        margin: 0 16px 16px 0;
        width: 450px;
    }
    img {
        background-color: gray;
    }
}

.buttons-container {
    display: flex;
    flex-flow: column wrap;
    flex-direction: row;
    .mat-card {
        margin: 0 16px 16px 0;
        width: 450px;
    }
}