@import 'variables.scss';
.menu-badge {
    display: inline-block;
    height: 16px;
    min-width: 10px;
    line-height: 18px;
    text-align: center;
    border-radius: 16px;
    font-size: 10px;
    font-weight: 700;
    padding: 0 4px;
}

.menu-badge-warn {
    background-color: mat-color($warn) !important;
    color: #fff!important;
}

.containerTop {
    margin-bottom: $paddingContainer;
    height: 64px;
    // display: flex;
    // flex-flow: row nowrap;
}