@import 'variables.scss';
.navToolbar {
    width: $left-sidenav-width;
}

.appnavigation-sidenav {
    width: $left-sidenav-width;
}

.navleft-sidenav {
    width: $right-sidenav-width;
}

.menu-icon {
    padding: 0 10px;
}