$warnColor: #F00;
//sidenav variables
$left-sidenav-width: 240px;
$right-sidenav-width: 330px;
$small-breakpoint-width: 720px;

/* For desktop, the content should be aligned with the page title. */

$content-padding-side: 70px;
$content-padding-side-xs: 15px;