<mat-card>
    <mat-card-title-group>
        <mat-card-title>TODO List</mat-card-title>
        <mat-card-subtitle>Person task list</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <mat-checkbox labelPosition="after" [checked]="true">
                    Shopping
                </mat-checkbox>
            </mat-list-item>
            <mat-list-item>
                <mat-checkbox labelPosition="after">
                    Cleaning
                </mat-checkbox>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>